<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MOVIES</title>
    <!-- tailwind -->
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  </head>
  <body>
    <nav th:replace="~{ fragments :: navbar }"></nav>

    <h1 class="font-bold italic text-7xl text-center pb-15 text-slate-700">Lista dei migliori film:</h1>
    <div  class="flex gap-10 justify-center px-20"> 
        <a th:href="@{/movies/{id}(id=${movie.id})}" th:each="movie : ${listaDeiMiglioriFilm}" class="card text-white  bg-linear-to-tr from-slate-700 to-blue-700 rounded-xl w-100 p-15 ">
            <div class="text-center text-7xl mb-10 italic">
                <span class="text-3xl">id - </span>[[${movie.id}]]
            </div>
            <div class="text-center font-bold text-2xl">
                [[${movie.title}]]
            </div>
        </a>
    </div>
    </ul>
  </body>
</html>
